extends ../includes/layout

block main-content
	nav.navbar.navbar-default.navbar-fixed-top(ng-include="'/partials/main/navbar'", role="navigation")

	section.content
		div(ng-view autoscroll="true")

	//- footer.container.text-center
	//- 	p &copy; Copyright 2014

	footer.footer-container
		.container
			.sharing
				ul.list-inline
					li
						a(href='#')
							img(alt='Facebook', src='../img/social/fb_icon.png')
					li
						a(href='#')
							img(alt='Twitter', src='../img/social/twitter_icon.png')
					li
						a(href='#')
							img(alt='Gplus', src='../img/social/gplus_icon.png')
		.footer-menu
			ul.list-inline
				li
					a(href='#') About Us
				li ·
				li
					a(href='#') Careers
				li ·
				li
					a(href='#') Finance
				li ·
				li
					a(href='#') EMI
				li ·
				li
					a(href='#') Advertise With Us
				li ·
				li
					a(href='#') Sitemap
		.copyright
			p
				small
				| © CarWale India -
				a(href='#') Visitor Agreement
				| ,
				a(href='#') Privacy Policy