extends ../includes/layout

block main-content
	nav.navbar.navbar-default(ng-include="'/partials/main/navbar'", role="navigation")
	//- .navbar.navbar-default.navabar-fixed-top
	//- 	.container
	//- 		.navbar-header
	//- 			a.navbar-brand(href="/")
	//- 		.navbar-collapse.collapse
	//- 			ul.nav.navbar-nav
	//- 				li
	//- 					a(href="/") Home
	//- 				li
	//- 					a(href="/cars") Cars
	//- 			div(ng-include="'/partials/account/navbar-login'")

	section.content
		div(ng-view)

	//- footer.container.text-center
	//- 	p &copy; Copyright 2014

	footer.footer-container
		.container
			.sharing
				ul.list-inline
					li
						a(href='#')
							img(alt='Facebook', src='../img/fb_icon.png')
					li
						a(href='#')
							img(alt='Twitter', src='../img/twitter_icon.png')
					li
						a(href='#')
							img(alt='Gplus', src='../img/gplus_icon.png')
		.footer-menu
			ul.list-inline
				li
					a(href='#') About Us
				li ·
				li
					a(href='#') Careers
				li ·
				li
					a(href='#') Finance
				li ·
				li
					a(href='#') EMI
				li ·
				li
					a(href='#') Advertise With Us
				li ·
				li
					a(href='#') Sitemap
		.copyright
			p
				small
				| © CarWale India -
				a(href='#') Visitor Agreement
				| ,
				a(href='#') Privacy Policy