.container
	.jumbotron.text-center
		h1 <span class="glyphicon glyphicon-ok"></span> {{ successful }}
		h2 Please review your booking details
	.well
		h2 {{ car.name }}
	ul.list-group
		li.list-group-item.active
			h4 Features
		li.list-group-item(ng-repeat="carFeatures in car.features") {{ carFeatures }}
	ul.list-group
		li.list-group-item.active
			h4 User Details
		li.list-group-item
			h4 Name: {{user.firstName}} {{user.lastName}}
		li.list-group-item
			h4 Address: {{address}}
		li.list-group-item
			h4 City: {{city}}
		li.list-group-item
			h4 State: {{state}}
		li.list-group-item
			h4 Pincode: {{pincode}}
		li.list-group-item
			h4 Mobile Number: {{mobileNo}}
		li.list-group-item
			h4 Bank Account Number: {{bankAccountNo}}