.container
	.row.car-menu-row
		.col-sm-6
			.row.car-menu-row
				.col-xs-6
					.box.center-block
						img.img-responsive(alt='', src='../img/site/carwale-pic-small.png')
				.col-xs-6
					.box.center-block
						img.img-responsive(alt='', src='../img/site/carwale-pic-small.png')
		.col-sm-6
			.row.car-menu-row
				.col-xs-6
					.box.center-block
						img.img-responsive(alt='', src='../img/site/carwale-pic-small.png')
				.col-xs-6
					.box.center-block
						img.img-responsive(alt='', src='../img/site/carwale-pic-small.png')