.container
    .featured-inner.text-center
        tabset.tabset
            tab(heading='Upcoming Cars')
                div(ng-include="'/partials/cars/upcoming-cars'")
            tab(heading='New Cars')
                div(ng-include="'/partials/cars/new-cars'")
            tab(heading='Featured Cars')
                div(ng-include="'/partials/cars/featured-cars'")