.main-big
	.main-search(ng-include="'/partials/main/search-filter'")
	//- .car-menus.text-center(ng-include="'/partials/main/car-menus'")
.featured(ng-include="'/partials/main/car-category'")
.big-banner-news(ng-include="'/partials/main/news'")