.container
	.main-search(ng-include="'/partials/main/search-filter'")
	.car-menus.text-center.well(ng-include="'/partials/main/car-menus'")
.featured(ng-include="'/partials/main/car-category'")
//- .container
//- 	.row
//- 		.col-md-6
//- 			div(ng-include="'/partials/main/featured-cars'")
//- 		.col-md-6
//- 			div(ng-include="'/partials/main/new-cars'")
.big-banner-news(ng-include="'/partials/main/news'")